* {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	color: #666666;
}


.order-only {
	border: 1px solid gainsboro;
	height: 220px;
	padding: 20px;
	margin-bottom: 10px;
}



.header-detail {
	float: left;
}
.header-price{
	float: right;
}

.header-price span{
	color: darkred;
	font-size: 14px;
}



.orderbottom ul{
	list-style: none;
}

.order-only img {
	width: 45px;
}

.order-btn{
	width: 80px;
	height: 30px;
	border: 2px solid gainsboro;
	margin-bottom: 10px;
}
.order_nav{
	padding: 10px 0px 0px 20px;
	height: 10px;
	margin-bottom: 50px;
	font-size: 12px;
	color: #666666;
}

.noor {
	display: inline-block;
	width: 200px;
	margin: 80px 200px;
	text-align: center;
}
