* {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	color: #666666;
}

.border{
	margin-left: 20px;
	border: 1.5px solid #E7E7E6;
}

.clear:after{
	content: " ";
	display: block;
	clear: both
}

.f-left{
	float: left;
}

.f-right{
	float: right;
}

.receiving-border{
	width: 700px;
	padding:20px 70px;
}

.receiving-body-div{
	width: 210px;
	height: 120px;
	margin: 10px 50px 30px 10px;
	padding: 10px;
}

.receiving-body-center{
	width: 100px;
	height: 50px;
	margin: 20px auto;
	text-align: center;
}

.receiving-body-center img{
	height: 30px;
	margin:0px 35px;
}

.receiving-detail{
	margin-left: 10px;
}

.receiving-detail-name {
	font-size: 13px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.receiving-detail ul{
	list-style: none;
}

.address_nav{
	padding: 10px 0px 0px 20px;
	height: 10px;
	margin-bottom: 50px;
	font-size: 12px;
	color: #666666;
}
